/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: center;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("../images/back1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Main Page styles
-------------------------------------------------- */
#page {
    max-width: 1100px;
    margin: 0 auto;
}

#main {
    width: 100%;
    display: flex;
}

    #main [id*="-section"] {
        padding: 1rem;
    }

    #main #board-section {
        min-width: 830px;
    }

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

#map {
    height: 500px;
    width: 100%;
}

/*.drop-wrapper {
    position: absolute;
    height: 250px;
    width: 100%;
    margin-top: 100px;
    top: -305px;
    left: 0;
    grid-area: 1 / 1 / 12 / 12;
    visibility:hidden;
    z-index: 1;
}*/

/*.my-flights-list {
    visibility: visible;
}*/
.my-flights-list-wrapper {
    position: absolute;
    height: 250px;
    width: 100%;
    left: 0;
    overflow-y: scroll;
    grid-area: 1 / 1 / 12 / 12;
    z-index: 0;
}

.my-flights-wrapper {
    position: relative;
    height: 250px;
    width: 350px;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 350px 1fr;
}

.external-flights-wrapper {
    position: relative;
    height: 250px;
    width: 350px;
    top: 60px;
}

.external-list-wrapper {
    position: absolute;
    height: 250px;
    width: 100%;
    left: 0;
    overflow-y: scroll;
}


.d-flex {
    align-items: center;
}

.my-flights-list-item {
    cursor: pointer;
}

.my-flights-list-item.highlighted {
    background-color: palegreen;
}

.highlightedRow {
    background-color: lightblue;
}

  

#my-flights-list [class*="flight-"] {
    padding: 0.5rem 0.4rem;
    display: inline-block;
}
#external-flights-list [class*="flight-"] {
    padding: 0.5rem 0.4rem;
    display: inline-block;
}

.flight-delete {
    font-style: italic;
    font-weight: bold;
    color: red;
    font-size: 20px;
}
.flight-company {
    font-weight: 500;
}
.flight-id {
    font-weight:500;
}
.space {
    font-weight: bold;
    font-size: 20px;
    opacity:0.0;
}

.flight-details-wrapper {
    height: 100px;
}

#flight-details tbody tr {
    height: 75px;
}
#colorfull {
    color: darkred;
}
div {
    text-align: center;
    /*text-emphasis-color: #32CD32;*/
}